.App {
  width: 100%;
}
.feedbacky-open-icon-button {
  color: hsl(27deg 90% 52%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: sticky-transition-show .2s forwards linear;
  width: 70px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 70px;
  z-index: 99999999;
}