.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedbacky-open-icon-button {
  width: 50px;
  height: 50px;
  color: hsl(27deg 90% 52%);
  cursor: pointer;
}